SUBSCRIPTION_URL=https://sub-la1tek.mooo.com/NxhL4ATBf4esFyfD
UPTIME_KUMA_URL=https://uptime.la1tek.ru
UPTIME_KUMA_USER=La1tek
UPTIME_KUMA_PASS=Ilya2005k!
CHECK_INTERVAL=300  # seconds (5 min check, 10 min push)
